@{
    ViewBag.Title = "Index";
}

<section>

    <article class="About">
        <h1>About Me</h1>
        <p>
            My Name is Kris Boyce. I'm training to be a software Developer.
            I enjoy many intellectual hobbies that involve being creative.
            Although I'm still young, I have learned quite a lot in twenty-one 
            years alive. I am still learning too; which seems impossible at times.
            Usually, I don't take myself seriously enough to make a profession out
            of any hobbies <em>but</em> I realized that I had enough potential to do great things with
            programming. I decided to make a change. I understood there are many things I could learn
            and if I didn't choose what is really important to me I would never be great at anything.
        </p>
        <p>
            I've dabbled in coding almost as long as I can remember. I found it to be the most amazing thing,
            such a powerful creative force. I also recognized it's difficulty, like staring at an essay in
            a language you didn't understand. I've come in contact with very many programming and mark-up
            languages but most of them were just not within my grasp and I quickly moved on. One of the first times
            I remember coding was when I started looking at documents used to store data in the games I played.
            I first delved into XML when I looked into metadata for the game Civilization III. I basically just changed numbers and eventually other values and looked 
            for the result in game. I started to learn the structure of a mark-up just by being exposed in this manner. I spent a lot of time copying and pasting.
        </p>
        <p>
            I started to learn all about this new topic to me which was modding games. It didn't take long to learn that I could change the memory of a game
            using a hexadecimal editor. This lead me into learning about different datatypes. I learned that certain things were stored in a specific amount of bytes. This lead me to swap these 
                types in order to change for instance, the ammunition of any gun. This was really fun but tedious and I found specific programs for easing the process.
                Later I realized that most programmers don't work in such a low-level environment.
        </p>
        <p>
            Then, I was introduced to java around the age of 13. I played with
                applets I'd found online and wondered how one could begin to make such things. They weren't as polished or comprehensive as the games I had been modifying but
                nevertheless there were similarities that were recognizable. I quickly set out to learn to make an applet. To my dissapointment, I had found the process of
                compiling such code to be very confusing as I had never encountered using a command prompt before except to just mess around. I finally got the code to compile
                and I realized that there were errors that crashed it as soon as it ran. The whole process was really discouraging, especially working with notepad. I didn't know the wonders of a linter and
                decided to just stick to modding.
        </p>
        <p>
            As time went on I kept coming back to Java and trying a little here and there. I started to learn about other languages that were easier to prototype
                such as Lua or Python. I ended up getting back into Java using an API/IDE called Processing. This is a development environment meant for the rapid prototyping of Java Applets.
                I really started to learn the syntax of java through this API. After a while of trial and error (and utilizing the convenient references and examples provided), I no longer 
                had any confusion with the proper syntax at all. Rarely I'd miss a curly brace or forget a semi-colon.
        </p>
        <p>
            Now it was down to using the tools I'd picked up to accomplish something. I worked all night
                sometimes trying to make an idea happen on the screen. I learned about random number generators and how they weren't so random. I started to study the object-oriented nature of Java which I later discovered to 
                be the basis of the whole language. I learned how to apply loops to situations involving lists and how to use lists effectively. Needless to say, I was flunking out of school because
                I spent all my time learning to code. I slept through most of the day and stayed up all night making my visions a reality. I wouldn't trade that for anything.
        </p>
        <p>
            Fast forward to now. I'm enrolled in SeedPaths which has been the most rigorus test I have put my skills through. I've already improved ten times over and have learned 
              two new languages. I've learned about LINQ and the wonders of the Lambda. I've made games that I'd never attempted before such as a trivia game and hangman. I've learned more
              about what it takes to be a professional in the tech industry and have made great strides towards my goal to be an entry-level software developer. I know I'll mostly just fix bugs
              but at least I'll get paid to do so now. I'm finally excited to start a career because I know it's something I have a drive to do.
        </p>
    </article>

</section>
