@{
    ViewBag.Title = "Index";
}

<div>
    <img src="http://tinyurl.com/qeemlqf" class="work" />
    <p>
        Work Sample
    </p>
</div>

<div>
    <img src="http://tinyurl.com/qeemlqf" class="work"/>
    <p>
        Work Sample
    </p>
</div>

<div >
     <img src="http://tinyurl.com/qeemlqf" class="work"/>
    <p>
        Work Sample
    </p>
</div>

<div>
    <img src="http://tinyurl.com/qeemlqf" class="work"/>
    <p>
        Work Sample
    </p>
</div>